.auth_form
{
    /*text-align: center;*/
    vertical-align: middle;

    margin:0 auto;
    width: 450px;
    padding: 15px;
}

.form_text
{
    vertical-align: middle;
    margin-top: 12px;
}
body{
	background-color: #fbfcfc;
}

.pagination {
    text-align: center;
}
.tittle_input
{
	width: 100%;

}

.tags
{
	vertical-align: middle;
}

.modal
{
	width: 700px;
left: 0;
right: 0;
margin: 0 auto;

}
textarea{
	width: 100%;

}


.quest
{
	background-color: #FFFFFF;
}

.main-window {
	padding-top: 10px;
	margin-top: 0px;
    margin-bottom: 0px;
	border: solid 1px #ddd ;
	border-top: 0px;
    padding-left: 15px;


}
.quest {
	margin-top: 10px;
	margin-left: 5px;
	margin-bottom: 10px;
	margin-right: 20px;
	border-radius: 10px;
	border: solid 2px #C4C4C4;
}

.ask_div
{
	margin-top: 2px;
	float: right;
  /*	margin-left: 0px !important ; */
	/*border-bottom: solid 1px #ddd ;*/
}
.nav-tabs {
	margin: 0px;


}
.btn-ask {

	margin-top: 5px;
	margin-left: 20px;
	position: absolute;
	top: 0;
	right: 0;
}

.logout
{
	margin-top: 15px;
	float: right;
}
.counter-main
{
	margin-left: 10px;
	margin-top: 15px;
	margin-bottom: 5px;
	height: 35px;
	width: 80px;

	border: solid 1px black;
	border-radius: 5px;
}
.counter-thumbs
{
	height: 35px;
	width: 20px;
	margin: 0px;
	float : right;


	border-left: solid 1px black;
}
.count{
	margin-top: 7px;
	font-size: 20px;
	width: 59px;
	display:  block;
	text-align: center;
	float: left;




}
.icon-thumbs-down
{
	position: relative;
	bottom: 5px;

}

a{
	text-decoration: underline;
}
.foot_buttons
{
	font-size: 20px;
	text-align: center;

	margin-bottom: 20px;
}

.answer
{
	margin-left: 80px;
	margin-top: 10px;
	 background-color: #F3F2F5;
	margin-bottom: 10px;
	margin-right: 20px;
	border-radius: 10px;
	border: solid 2px #C4C4C4;
	padding: 20px;

}

.quest h5
{
    margin-left: 10px;
}


.quest p
{
    margin-left: 20px;
}