.auth_form
{
    /*text-align: center;*/
    vertical-align: middle;

    margin:0 auto;
    width: 450px;
    padding: 15px;
}

.form_text
{
    vertical-align: middle;
    margin-top: 12px;
}
body{
	background-color: #fbfcfc;
}

.pagination {
    text-align: center;
}
.tittle_input
{
	width: 100%;

}

.tags
{
	vertical-align: middle;
}

.modal
{
width: 500px;
left: 0;
right: 0;
margin: 0 auto;

}
textarea{
	width: 100%;

}

.control-label
{
    text-align: center; !important
}


.quest
{
	background-color: #FFFFFF;
}

.main-window {
	padding-top: 10px;
	margin-top: 0px;
    margin-bottom: 0px;
	border: solid 1px #ddd ;
	border-top: 0px;
    padding-left: 15px;


}


.nav-tabs {
	margin: 0px;


}

a{
	text-decoration: underline;
}


