{% extends 'journal/main.html' %}
{% block tasks %}
<div class="auth_form" >
    <form action="." class="form-horizontal" method="post">{% csrf_token %}
          <div id="auth_err" style="display: none; color: red"> Ошибка авторизации </div>
        <div class="control-group">
        <label class="control-label" for="Email">Email/Логин</label>
        <div class="controls">
{#            {{ form.login }}#}
        <input type="text" id="Email" name="Email" placeholder="Email">
        </div>
        </div>
        <div class="control-group">
        <label class="control-label" for="inputPassword">Пароль</label>
        <div class="controls">
{#            {{ form.password }}#}
        <input type="password" id="Password" name="Password" placeholder="Пароль">
        </div>
        </div>
        <div class="control-group">
        <div class="controls">

        <a href="#" class="btn" id="btn_login" name="btn_login" >Войти</a>
        <button  class = "btn btn-success" id="#ask"  type="button" data-toggle="modal" data-target="#modalAuth">Регистрация </button>
        </div>

        </div>
     </form>


</div>



    <div id="modalAuth" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Регистрация</h3>
  </div>
  <div class="modal-body">
  	<form action="." class="form-horizontal" method="post"> {% csrf_token %}

        <div id="email_err" style="display: none; color: red"> Поле обязательно для заполнения </div>

    <div class="control-group">
        <label class="control-label" for="Email">Email/Логин</label>
        <div class="controls">
            <input type="text" id="Email_reg" name="Email_reg" placeholder="Email">
        </div>
     </div>

    <div class="control-group">
        <label class="control-label" for="Name">Ваше имя</label>
        <div class="controls">
            <input type="text" id="Name_reg" name="Name_reg" placeholder="Имя">
        </div>
     </div>

     <div class="control-group">
        <label class="control-label" for="Cabinet">Номер кабинета</label>
        <div class="controls">
            <input type="text" id="Cabinet" name="Cabinet" placeholder="Кабинет">
        </div>
     </div>

     <div class="control-group">
        <label class="control-label" for="Cabinet">Пароль</label>
        <div class="controls">
            <input type="password" id="pass_reg" name="pass_reg" placeholder="Пароль">
        </div>
     </div>

     <div class="control-group">
        <label class="control-label" for="Cabinet">Пароль ещё раз</label>
        <div class="controls">
            <input type="password" id="pass2_reg" name="pass2_reg" placeholder="Пароль">
        </div>
     </div>

     <div class="control-group">
        <label class="control-label" for="Cabinet">Секретное слов</label>
        <div class="controls">
            <input type="text" id="secret" name="secret" placeholder="Секретное слово">
        </div>
     </div>


  <div class="modal-footer">
    <button class="btn btn-success" id="id_register" >Зарегестрироваться</button>

    <button class="btn" data-dismiss="modal" aria-hidden="true">Отмена</button>

  </div>
</form>
</div>
</div>
{% endblock %}